/* colors
#0f2027 */

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2027;
}
.logo {
  margin-left: 50px;
  color: white;

  padding: 20px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 100px;
  margin-right: 100px;
  font-weight: bold;
}
.links {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.hero {
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(to top left, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;

  gap: 5%;
  padding: 30px 100px 30px 100px;
}

.profile-pic {
  border-radius: 8px;
  box-shadow: rgb(255, 255, 255) 0px 5px 30px;
  scale: 0.8;
}
.text-box {
  padding-top: 100px;
}
.text {
  font-size: 25px;
  color: white;
  font-weight: 100;
  padding-top: 50px;
}
.main-heading {
  color: #e4b200;
  font-size: 35px;
}
.heading-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.icons {
  width: 35px;
}
.projects-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 90%;
  padding: 30px;
}
.projects-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
  border-radius: 8px;
  background-color: #0f2027;
  box-shadow: rgb(0, 0, 0) 0px 5px 30px;
}

.project-pic {
  border-radius: 8px 0px 0px 8px;
  height: 100%;
  width: 100%;
  overflow: auto;
  object-fit: cover;
}
.project-text {
  color: white;
  overflow: auto;
}
.project-heading {
  color: #e4b200;
  overflow: auto;
}

.project-links {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: #e4b200;
  border-radius: 20px;
}
.content-box {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  overflow: auto;
  padding: 30px;
}
.link-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0px 20px;
  text-align: center;
  gap: 20px;
}
.hero-projects {
  width: 100%;
  height: 150vh;
  background-image: linear-gradient(to top left, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: #0f2027;
  color: white;
  text-align: center;
}
