/* colors
#0f2027 */

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2027;
}
.logo {
  margin-left: 50px;
  color: white;

  padding: 20px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 100px;
  margin-right: 100px;
  font-weight: bold;
}
.links {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.hero {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to top left, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 100px;
}
.profile-pic {
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.487) 0px 5px 15px;
}
.text {
  font-size: 30px;
  color: white;
  font-weight: 100;
}
.skills-box {
  display: flex;
  align-items: center;
}
.icons {
  width: 50px;
  margin: 13px 21px 0px 0px;
}
